# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.exe
.g
bin/
obj/