<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="50150MihaiSalavastru.SoulPlayer" Publisher="CN=E899C301-1FDD-4E96-BE75-A2D2F8F71790" Version="1.1.0.7" />
  <Properties>
    <DisplayName>Soul Player</DisplayName>
    <PublisherDisplayName>Mihai Salavastru</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MediaPlayer.App">
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="MediaPlayer.MainPage">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Soul Player" Description="Windows 8 music player , where you can search for everything." BackgroundColor="#CCCCCC" ForegroundText="dark" ToastCapable="true" Square150x150Logo="Assets\LogoHeart_150x150.png" Square30x30Logo="Assets\LogoHeart_verysmall.png">
        <m2:DefaultTile ShortName="SoulPlayer" Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#CCCCCC" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>